// nesting is include in order the properties like parent-child relationship in order
.blog-post {
        }
        h1 {
          text-align: center;
          color: blue;
        } 
        p {
          font-size: 20px;
        }